# Copy this file to .env and fill in your values

# Backend API base URL
VITE_API_BASE_URL=
VITE_PAYSTACK_PUBLIC_KEY=
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_CAMPUS_HINT=
VITE_GEOAPIFY_KEY=
VITE_WHATSAPP_NUMBER=
